fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
openai
pydantic-settings
google-generativeai
pytest
httpx
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
sse-starlette==2.3.6
python-jose[cryptography]==3.5.0
azure-storage-blob
azure-identity
aiohttp
certifi
