fastapi>=0.100.0,<0.110.0
uvicorn[standard]
pydantic>=2.0.0,<3.0.0
sqlalchemy
psycopg2-binary
python-dotenv
openai
pydantic-settings
google-genai
pytest
httpx
pytest-asyncio
pytest-httpx
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
sse-starlette>=1.6.0,<2.0.0
python-jose[cryptography]==3.5.0
azure-storage-blob
azure-identity
aiohttp
certifi
alembic
